<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div id="app">Hallo</div>
  <div id="devtools"></div>
  <script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
  <script src="/asserts/bundle.js"></script>

</body>
</html>
