.rows .row {
  display: inline-block;
}

.row {
  margin-right: 0;
  margin-left: 0;
}
.toRight {
  float: right;
}

ul {
  list-style-type: none;
}

.smallMargin {
  margin: 4px;
}

.center {
  text-align: center;
}

.wrapper {
  display: table;
  width: 100%;
}
.left {
  display: table-cell;
  width:30%;
  vertical-align:top;
}
.right {
  display: table-cell;
  width:70%;
  vertical-align:top;
}
